* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: "Lato", sans-serif;
	background-color: #6a6969;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	margin: 50px 0;
	width: 750px;
	height: 1000px;
	background-color: #fff;
}

.header {
	position: absolute;
	height: 220px;
	width: 100%;
	background-color: transparent;
	overflow: hidden;
	z-index: 2;
}

.layers {
	position: relative;
	height: 200px;
	width: 100%;
}

.layer-box {
	position: absolute;
	height: 100%;
	width: 100%;
	filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
}

.layer {
	position: absolute;
	height: 100%;
	width: 100%;
}

.layer1 {
	background-color: #2e7084;
	clip-path: polygon(0 0, 100% 0, 100% 70%, 86% 100%, 0% 20%);
}

.layer2 {
	width: 101%;
	background-color: #2e7186;
	clip-path: polygon(20% 0, 100% 0, 100% 90%);
}

.layer3 {
	background-color: #397c90bb;
	background: linear-gradient(
		165deg,
		rgba(57, 124, 144, 1) 54%,
		rgba(57, 124, 144, 0.01) 100%
	);
	clip-path: polygon(0 0, 100% 0, 100% 30%, 64% 96%, 0% 50%);
}

.header-data {
	position: absolute;
	display: flex;
	left: 56px;
	top: 20px;
}

.photo-background {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 186px;
	width: 150px;
	border-radius: 3px;
	background: linear-gradient(
		90deg,
		rgba(146, 203, 221, 1) 0%,
		rgba(34, 89, 105, 1) 100%
	);
}

.photo {
	height: 180px;
	width: 144px;
	background-image: url("./CV-photo.jpg");
	background-position: -76px -26px;
}

.name-and-contact {
	margin-left: 100px;
	color: azure;
}

.name {
	margin-top: 16px;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px rgb(26, 26, 26);
}

.fa-solid {
	margin-right: 10px;
}

.mail {
	margin: 10px 0;
	text-shadow: 1px 1px 2px rgb(26, 26, 26);
}

.phone-number {
	text-shadow: 1px 1px 2px rgb(26, 26, 26);
}

.main {
	padding-top: 200px;
	height: 100%;
	width: 65%;
	background-color: #e1e1e1;
	overflow: hidden;
}

.section-title-in-main {
background: gray;
}

.aside {
	padding-top: 230px;
	height: 100%;
	width: 35%;
	box-shadow: 2px 0 3px gray;
	overflow: hidden;
	z-index: 1;
}

.section-title-shadow {
	filter: drop-shadow(-5px 2px 8px rgba(0, 0, 0, 0.8));
}

.section-title {
	margin: 20px 0;
	padding: 3px 15px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: azure;
	text-shadow: 1px 1px 2px rgb(26, 26, 26);
	background: linear-gradient(10deg, rgba(74,146,168,1) 0%, rgba(43,108,128,1) 35%, rgba(35,94,112,1) 100%);
	clip-path: polygon(0 0, 70% 0, 75% 48%, 100% 48%, 100% 51%, 75% 52%, 70% 100%, 0% 100%);
}

.section-title-in-main {
	background: linear-gradient(10deg, rgba(128,128,128,1) 0%, rgba(93,93,93,1) 35%, rgba(74,74,74,1) 100%);
	clip-path: polygon(0 0, 50% 0, 53% 48%, 100% 48%, 100% 51%, 53% 52%, 50% 100%, 0% 100%);
	}